body{
    background-color: rgb(255, 255, 255);
    font-size: 12pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    background-image: url(Névtelen.png);
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    height: 150px;
}
nav{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    height: 40px;
    border: 1px solid none;
    text-align: center;    
}
nav ul li{
    display: inline-block;
}
.cl{
    text-decoration: none;
    border: 1px solid none;
    background-color: rgb(42, 97, 42);
    color: rgb(255, 255, 255);
    padding: 5px;
}
.Testépítés{
    text-decoration: none;
    border: 1px solid none;
    background-color: rgb(60, 158, 60);
    color: white;
    padding: 5px;
}
.Kezdőlap{
    text-decoration: none;
    border: 1px solid none;
    background-color: rgb(60, 158, 60);
    color: white;
    padding: 5px;
}
.Legálisszerek{
    text-decoration: none;
    border: 1px solid none;
    background-color: rgb(60, 158, 60);
    color: white;
    padding: 5px;
}
.Illegálisszerek{
    text-decoration: none;
    border: 1px solid none;
    background-color: rgb(60, 158, 60);
    color: white;
    padding: 5px;
}
nav a:hover{
    background-color: lightgreen;
    color: black;
}
.content{
    background-color: rgb(240, 240, 240);
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    border: 1px solid lightgray;
    padding: 5px;
}
h1{
    color: rgb(5, 15, 5);
    text-align: center;
    font-size: 40pt;
}
h2{
    color: rgb(60, 158, 60);
}
h3{
    color: rgb(60, 158, 60);
    font-size: 12pt;
}
p{
    text-align: justify;
    padding: 10px;
}
#kathi{
    float: left;
    padding: 5px;
}
.kezdolapdt{
    margin-left: 10px;
    font-weight: bold;
}
dl img{
    float: left;
    padding: 5px;
}
dl dt{
    clear: both;
}
dd{
    text-align: justify;
    padding: 10px;
}
#alja{
    clear: both;
}
span{
    color: rgb(60, 158, 60);
}
.táblázat{
    margin-left: auto;
    margin-left: auto;
    text-align: center;
    padding: 10px;
}
footer{
    padding: 5px;
    text-align: right;
    color: lightslategrey;
    font-size: 10pt;
    border: 1px solid lightgray;
}
footer a{
    text-decoration: none;
    color: rgb(60, 158, 60);
    border: 1px solid none;
    background-color: none;
}
footer a:hover{
    background-color: lightgreen;
    color: black;
}