body{
    background-color:whitesmoke;
    background-image: url(rich.jpg);
    background-repeat: repeat-x;
    margin: 225px 150px;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}
.kezdolap{
    padding: 150px;
    text-align: center;
}
.link1{
    min-width: 100px;
    max-width: auto;
    min-height: 400px;
    max-height: auto;
    padding: 100px;
    border: 5px solid none;
    background-color: lightskyblue;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    color: white;
}
.link2{
    min-width: 80px;
    max-width: auto;
    min-height: 400px;
    max-height: auto;
    padding: 100px;
    border: 5px solid none;
    background-color: lightblue;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    color: white;
}
.kezdolap1{
    padding: 150px;
    text-align: center;
}

.link3{
    min-width: 80px;
    max-width: auto;
    min-height: 100px;
    max-height: auto;
    padding: 100px;
    border: 5px solid none;
    background-color: lightseagreen;
    text-align: bottom;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    color: white;
    
}
.h1-ek{
    font-size: 500%;
    font-weight: bold;
    font-style: initial;
    text-align: center;
    color: brown;
}
.h2-ek{
    font-size: 150%;
    font-weight: bold;
    font-style: initial;
    color: brown;
}
.kezdolap1-{
    margin-top: 250px;
    padding: 5px;
    text-align: center;
}
.link1-{
    min-width: 30px;
    max-width: auto;
    min-height: 30px;
    max-height: auto;
    padding: 10px;
    border: 5px solid none;
    background-color: lightskyblue;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    color: black;
}
.link2-{
    min-width: 10px;
    max-width: auto;
    min-height: 10px;
    max-height: auto;
    padding: 10px;
    border: 5px solid none;
    background-color: lightblue;
    text-align: right;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    color: black;
}
.link3-{
    min-width: 10px;
    max-width: auto;
    min-height: 10px;
    max-height: auto;
    margin-top: 10px;
    padding: 10px;
    border: 5px solid none;
    background-color: lightseagreen;
    text-align: bottom;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    color: black;
}
.kezdolap2-{
    padding: 5px;
}
#arnold{
    min-width: 10px;
    max-width: 200px;
    min-height: 10px;
    max-height: auto;
    margin-top: 10px;
    border: 1px solid none;
 }  
#testepítes_p{
    min-width: 10px;
    max-width: auto;
    min-height: 10px;
    max-height: auto;
    text-align: justify;
    border: 1px solid none;
}
.copyright{
    text-align: end;
    color: lightgray;
    font-size: 10px;
    font-weight: inherit;
}
.linkek{
    text-align: center;
    font-weight: bolder;
    color: darkblue;
    text-decoration: none;
}
.forma{
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
    min-width: 10px;
    max-width: auto;
    min-height: auto;
    max-height: auto;
    padding: 5px;
    border: 1px solid none;
    background-color: rgb(29, 29, 29);
}
.formázások{
    font-weight: bold;
    font-style: italic;
    color: brown;
}
.forma_kezdolap{
    margin-top: 300px;
    margin-left: 30px;
    margin-right: 30px;
    min-width: 10px;
    max-width: auto;
    min-height: auto;
    max-height: auto;
    padding: 5px;
    border: 1px solid none;
    background-color: rgb(29, 29, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p-k{
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}
.dt-k{
    text-indent: 5px;
    color: rgb(252, 125, 125);
}
.dh-k{
    margin-left: 5px;
    margin-right: 5px;
    text-indent: 10px;
    text-align: justify;
}
.táblázat{
    margin-left: 90px;
    margin-left: 90px;
    text-align: center;
}